@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.OneRecipeCard {
  text-decoration: none;
  color: inherit; /* Take color from parent */
  display: block; /* Allows the link to take up the full area of the card */
  background-color: rgb(255, 255, 255); /* Lighter color for recipe cards */
  padding: 1rem;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  width: 200px; /* Set a fixed width smaller than the height */
  height: 250px; /* Set a height taller than the width to make the card vertical */
  margin: 0.5rem; /* Provide some space around the card */
  flex: 0 0 auto; /* Do not grow, do not shrink, auto basis based on width and height */
  box-sizing: border-box; /* Include padding and border in the width */
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.OneRecipeCard h4 {
  margin: 0 0 1rem 0;
  font-size: 1.8rem;
  font-family: "Dancing Script", cursive;
}

.OneRecipeCard p {
  margin: 0;
  font-size: 0.8rem;
}
