.UserMainPage {
  margin-left: 400px; /* This should match the width of your sidebar */
  padding-top: calc(
    var(--navbar-height) + 2rem
  ); /* This should match the height of your navbar */
  padding-left: 1rem; /* Add some space between the sidebar and the content */
  padding-right: 1rem; /* Add some space on the right side */
  padding-bottom: 1rem; /* Space at the bottom */
}

.welcome-user img {
  max-height: 2.7rem;
}

/* Styling for the section headers with the title and button */
.section-header {
  display: flex;
  justify-content: flex-start; /* Aligns the title to the left and the button to the right */
  gap: 1.5rem;
  align-items: center; /* Centers items vertically */
  margin-bottom: 2rem; /* Space below the header */
}

.add-button {
  background-color: #eae0d5; /* Neutral color for the button */
  padding: 0.3rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #ddb892;
}
.add-button a {
  text-decoration: none;
  color: #5a3e36; /* Dark brown text to match the sidebar */
}
.my-families-wrapper {
  margin-bottom: 5rem; /* Increased space between sections */
}

/* Styling for the family and recipe cards */
.my-families-wrapper .section-content {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 1rem; /* Space between cards */
}

.my-recipes-wrapper .section-content {
  display: flex;
  flex-direction: row; /* Line up items in a row */
  flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
  gap: 1rem; /* Space between cards */
  justify-content: flex-start; /* Aligns cards to the start of the container */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .UserMainPage {
    margin-left: 0; /* Sidebar stacks above on smaller screens */
    padding-top: var(--navbar-height);
  }

  .section-header {
    flex-direction: column;
    align-items: flex-start; /* Aligns the button below the title */
  }

  .add-button {
    margin-top: 0.5rem; /* Space between the title and the button on small screens */
  }
}
