.RecipeSearchPage {
  margin-left: 400px;
  padding-top: calc(var(--navbar-height) + 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  text-align: center; /* Center align the text */
}

.RecipeSearchPage .search-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Style adjustments for input */
.RecipeSearchPage input {
  width: 100%; /* Adjust input width to fill the container */
  padding: 1rem;
  padding-right: 3rem; /* Make room for the button inside the input */
  border: 2px solid #ccc;
  border-radius: 25px;
  display: block;
}

/* Ensure the paragraph matches the width of the input and is centered */
.RecipeSearchPage > p {
  width: 80%;
  margin: 0 auto; /* Centers the paragraph */
  padding: 1rem 0; /* Adds some vertical spacing */
}

.RecipeSearchPage button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  margin: 1px; /* Adjust if necessary to fit inside the input */
  border-top-right-radius: 25px; /* Match the input's border radius */
  border-bottom-right-radius: 25px; /* Match the input's border radius */
  background-color: #eae0d5;
  color: #5a3e36;
  border: none;
  cursor: pointer;
  height: calc(100% - 2px);
  transition: background-color 0.3s ease;
}

.RecipeSearchPage button:hover {
  background-color: #ddb892;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
}
