.FamilyPage {
  margin-left: 300px; /* Sidebar width */
  padding-top: calc(var(--navbar-height) + 1rem); /* Navbar height plus some */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.FamilyRecipeList,
.AddMembers,
.MembersList {
  margin-bottom: 2rem;
}
