.OneRecipePage {
  margin-left: 400px; /* Adjust if your sidebar width is different */
  padding-top: var(--navbar-height) + 2rem;
  padding: 2rem;
  max-width: 800px; /* Limit the content width for better readability */
  margin: var(--navbar-height) auto 0 auto; /* Center the content vertically and respect the navbar height */
  background: #fff; /* Optional: add a background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow for depth */
  border-radius: 8px; /* Optional: round corners */
}

.OneRecipePage h2 {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
}
.OneRecipePage h4 {
  color: #5a3e36; /* A warm, dark brown */
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.OneRecipePage button {
  background-color: #eae0d5; /* Neutral color for the button */
  padding: 0.3rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.OneRecipePage button:hover {
  background-color: #ddb892;
}

.recipe-buttons button {
  text-decoration: none;
  color: #5a3e36;
}
.OneRecipePage p {
  margin-bottom: 2rem;
  font-weight: 700;
}

.OneRecipePage ul {
  padding-left: 1rem; /* Indent text for better readability */
}

.OneRecipePage ul {
  list-style-type: disc; /* Add bullets to the list */
}

.recipe-header {
  display: flex;
  align-items: center; /* Align the items vertically */
  justify-content: space-between; /* Put space between the title and buttons */
  flex-wrap: wrap; /* Wrap onto the next line if space is insufficient */
}

.recipe-header h2 {
  flex-grow: 1; /* Allow the title to grow and fill the space */
  margin-right: 1rem; /* Add margin to push the buttons away from the title */
}

.recipe-buttons {
  display: flex;
  gap: 0.5rem; /* Add space between buttons */
}
