.AddFamily {
  margin-left: 400px; /* Sidebar width */
  padding-top: calc(var(--navbar-height) + 2rem); /* Navbar height plus some */
  display: flex;
  justify-content: center; /* Center the form in the remaining viewport */
  padding-bottom: 1rem;
}

.AddFamily h2 {
  margin-bottom: 1.5rem;
}

.AddFamily form {
  width: 80%; /* Relative to the parent container */
  max-width: 500px; /* Max width of the form */
  background: #ffffff; /* Clean white background for a modern look */
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); /* Soft shadow for depth */
  border-radius: 25px; /* Rounded borders for a modern aesthetic */
  margin: 1rem auto; /* Center the form in the page with automatic margins */
  border: 1px solid #e6e6e6; /* Subtle border for definition */
}

.AddFamily label {
  display: block;
  margin-bottom: 0.5rem;
  color: #5a3e36; /* Adjust label color to match the modern theme */
  font-weight: 500; /* Optional: Adjust font weight as necessary */
}

.AddFamily input[type="text"] {
  width: calc(100% - 1rem); /* Adjust width to account for padding */
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #ccc; /* Solid border with a light color */
  border-radius: 25px; /* Rounded borders */
  box-sizing: border-box; /* Include padding and border in the width and height */
}

.AddFamily button {
  background-color: #eae0d5; /* Light background color */
  color: #5a3e36; /* Text color */
  border: none;
  padding: 1rem;
  border-radius: 25px; /* Rounded borders */
  cursor: pointer;
  width: 100%; /* Full width button */
  box-sizing: border-box; /* Include padding and border in the width and height */
  transition: background-color 0.3s ease;
}

.AddFamily button:hover {
  background-color: #ddb892; /* Darker shade for hover effect */
  color: white; /* Optional: Change text color on hover for better contrast */
}
